@font-face{
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}

@font-face{
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face{
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: bold;
}

:root{
    font-size: 18px;
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #c5c5c5;
}

html{
    font-size: 16px;
}

body{
    color: var(--gray30);
    font-family: 'Roboto', sans-serif;
    /* font-family: Charter;  */
}

a{
    color: var(--gray30);
    text-decoration: none;
}

header{
    /* --gray10: red; */
    font-size: 14px;
}

header a{
    color: var(--gray30);
    text-decoration: none;
}

header a:hover{
    color: var(--gray10);
}

nav details summary{
    font-weight: bold;
}

/* ol li:nth-child(even) {
} */

h1{
    font-size: 60px;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

pre{
    background: #FEC62E;
}

.hero{
    background-image: linear-gradient(to top, rgba(255,255,255,.5), transparent ), url('../images/patron-1.png');
    /* background: url('../images/patron-1.png'); */
    /* background-repeat: no-repeat;
    background-position: center 50px; */
    /* background-size: cover; */
    height: 350px;
    /* width: 100%; */
}

.section-content{
    counter-reset: titleList;
}

.section-content h3{
    counter-increment: titleList;
}

.section-content h3::before{
    content: counter(titleList, decimal) "-";
}

.section-content h3::after{
    content: '';
    width: 32px;
    height: 4px;
    background: var(--gray30);
    display: inline-block;
}

/* h3::before{
    content: counter(titleList);
} */

/* h3::after{
    content: ' ';
    width: 32px;
    height: 4px;
    background: var(--gray30);
    display: inline-block;
} */

::selection{
    background: #1cc2ff;
}